<!--<footer class="text-lg-start bg-body-tertiary text-muted">-->
<!--    <div class="wrapper flex-grow-1 ">-->
<!--        © 2024 Copyright:-->
<!--        <a class="text-reset" href="https://frolovhrm.github.io/resume/">Frolov_AA</a>-->
<!--    </div>-->
<!--</footer>-->

<!--  <footer class="footer">-->
<!--    <div class="container py-3 text-center">-->
<!--      <span>© 2024 Copyright:-->
<!--        <a class="text-reset" href="https://frolovhrm.github.io/resume/">Frolov_AA</a></span>-->
<!--    </div>-->
<!--  </footer>-->

<footer class="bg-info text-center text-lg-start fixed-bottom">
<!--  &lt;!&ndash; Grid container &ndash;&gt;-->
<!--  <div class="container p-4">-->
<!--    &lt;!&ndash;Grid row&ndash;&gt;-->
<!--    <div class="row">-->
<!--      &lt;!&ndash;Grid column&ndash;&gt;-->
<!--      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--        <h5 class="text-uppercase">Links</h5>-->

<!--        <ul class="list-unstyled mb-0">-->
<!--          <li>-->
<!--            <a href="#!" class="text-dark">Link 1</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!" class="text-dark">Link 2</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!" class="text-dark">Link 3</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!" class="text-dark">Link 4</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      &lt;!&ndash;Grid column&ndash;&gt;-->

<!--      &lt;!&ndash;Grid column&ndash;&gt;-->
<!--      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--        <h5 class="text-uppercase mb-0">Links</h5>-->

<!--        <ul class="list-unstyled">-->
<!--          <li>-->
<!--            <a href="#!" class="text-dark">Link 1</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!" class="text-dark">Link 2</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!" class="text-dark">Link 3</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!" class="text-dark">Link 4</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      &lt;!&ndash;Grid column&ndash;&gt;-->

<!--      &lt;!&ndash;Grid column&ndash;&gt;-->
<!--      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--        <h5 class="text-uppercase">Links</h5>-->

<!--        <ul class="list-unstyled mb-0">-->
<!--          <li>-->
<!--            <a href="#!" class="text-dark">Link 1</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!" class="text-dark">Link 2</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!" class="text-dark">Link 3</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!" class="text-dark">Link 4</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      &lt;!&ndash;Grid column&ndash;&gt;-->

<!--      &lt;!&ndash;Grid column&ndash;&gt;-->
<!--      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">-->
<!--        <h5 class="text-uppercase mb-0">Links</h5>-->

<!--        <ul class="list-unstyled">-->
<!--          <li>-->
<!--            <a href="#!" class="text-dark">Link 1</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!" class="text-dark">Link 2</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!" class="text-dark">Link 3</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#!" class="text-dark">Link 4</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      &lt;!&ndash;Grid column&ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash;Grid row&ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash; Grid container &ndash;&gt;-->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #f8f9fa;">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>