{% extends "base.html" %}

{% block title %} Meeting orders {% endblock %}


{% block content %}
    <div class="row align-items-start">
        <div class="col-xl-2">
            <form method="POST" novalidate>
                {% csrf_token %}
                <h5 class="card-subtitle text-body-secondary text-center">Новая встреча</h5>
                    <br>
                        {{ form.as_p }}
                    <br>
                <input type="submit" value="Сохранить">

            </form>
            <p></p>
        </div>

        <div class="col-xl-10">
            <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
                 data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">


                <table class="table table-bordered ">
                    <thead class="table table-light">
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Начало</th>
                        <th scope="col">Окончание</th>
                        <th scope="col">Участников</th>
                        <th scope="col">Опция 1</th>
                        <th scope="col">Опция 2</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Автор</th>

                    </tr>
                    </thead>

                    <tbody>
                    {% for item in meets %}
                    <tr>
                        <th scope="row">{{ item.pk }}</th>
                        <td>{{ item.date_meet|date:"Y-m-d" }}</td>
                        <td>{{ item.time_start }}</td>
                        <td>{{ item.time_end }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{% if item.option1 %}
                            Да
                            {% else %}
                            Нет
                            {% endif %}
                        </td>
                        <td>{% if item.option2 %}
                            Да
                            {% else %}
                            Нет
                            {% endif %}
                        </td>
                        <td>{% if item.status == 0 %}
                            не запланирована
                            {% elif item.status == 1 %}
                            запланирована
                            {% elif item.status == 2 %}
                            время занято
                            {% elif item.status == 3 %}
                            очень много участников
                            {% elif item.status == 4 %}
                            завершилась
                            {% else %}
                            {{ item.status }}
                            {% endif %}
                        </td>
                        <td>{{ item.user }}</td>
                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}