{% extends "base.html" %}

{% block title %} План на день {% endblock %}


{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-xl-2 border border bg-body-tertiary">
                <form method="POST" novalidate>
                    {% csrf_token %}

                    <h5 class="card-subtitle text-body-secondary text-center">Отчет на дату</h5>
                    <br>
                    {{ form.as_p }}
                    <br>
                    <input type="submit" value="Получить отчет">
                </form>

            </div>

            <div class="col-xl-10">

                <h2>Список встреч на {{ this_date }}</h2>
                {% for item in meets %}

                <h4>Переговорка {{ forloop.counter }}</h4>

                <table class="table table-bordered ">
                    <thead class="table table-light">
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Начало</th>
                        <th scope="col">Окончание</th>
                        <th scope="col">Участников</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for fields in item %}
                        <tr>
                            <th scope="row">{{ fields.0 }}</th>
                            <td>{{ fields.1|slice:'0:5' }}</td>
                            <td>{{ fields.2|slice:'0:5' }}</td>
                            <td>{{ fields.3 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
