{% extends "base.html" %}

{% block title %} Rooms settings {% endblock %}


{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-xl-2 border border bg-body-tertiary">
            <form method="POST" novalidate>
                {% csrf_token %}
                <h5 class="card-subtitle text-body-secondary text-center">Параметры переговорок</h5>
                <br>
                <table>
                    {{ form.as_p }}
                </table>
                <br>
                <input type="submit" value="Сохранить">
            </form>

        </div>

        <div class="col-xl-10">
            <table class="table table-bordered ">
                <thead class="table table-light">
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Название</th>
                    <th scope="col">Кол-во мест</th>
                    <th scope="col">Опция 1</th>
                    <th scope="col">Опция 2</th>

                </tr>
                </thead>

                <tbody class="text-center">
                {% for item in rooms %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ item.name }}</td>
                    <td>{{ item.volume }}</td>
                    <td>{% if item.option1 %}
                        Да
                        {% else %}
                        Нет
                        {% endif %}
                    </td>
                    <td>{% if item.option2 %}
                        Да
                        {% else %}
                        Нет
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}